fieldset {
  min-width: 0;
  padding: 0 1rem 1rem 1rem;
  margin-bottom: 1rem;
  border: thin solid gainsboro;
}

legend {
  box-sizing: border-box;
  width: auto;
  padding: 1rem;
  white-space: normal;
  display: block;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

label {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  display: inline-block;
  margin-bottom: 1rem;
}

/* BUTTON Module
   ========================================================================== */
button,
[role="button"],
html input[type="button"],
     input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-appearance: none;
     -moz-appearance: none;
       -ms-appearance:none;
  display:table-cell;
  vertical-align:middle;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  padding: .5rem 1rem;
  border: thin solid transparent;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  background: gainsboro;
  color: inherit;
  font: inherit;
}

button::-moz-focus-inner,
input::-moz-focus-inner, 
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border:none;
}

[disabled] {
  cursor:not-allowed;
}

/* Input
   ========================================================================== */

input,
html input {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  display: inline-block;
  box-shadow: none;
}

input[list] {
  margin: 0;
  padding: .5rem;
  border: thin solid gainsboro;
  border-radius: 0;
  color: inherit;
  font: inherit;
  overflow: visible;
  outline: 0;
}

[type='text'],
[type='email'],
[type='password'],
[type='url'],
[type='number'],
[type='tel'],
[type='search'],
[type='datetime'],
[type='datetime-local'],
[type='date'],
[type='time'],
[type='week'],
[type='month'] {
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
  margin: 0;
  padding: .5rem;
  background: transparent;
  border: thin solid gainsboro;
  border-radius: 0;
  color: inherit;
  font: inherit;
  overflow: visible;
  outline: 0;
}

[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin:0;
  height:0;
}

/* Select
   ========================================================================== */
select {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  margin: 0;
  padding: .5rem;
  outline: none;
  width: 100%;
  background: transparent;
  border: thin solid gainsboro;
  border-radius: 0;
  text-transform: none;
  color: inherit;
  font: inherit;
}

optgroup {
  color: inherit;
  font: inherit;
  margin: 0;
  border: none;
  font-weight: bold;
}

option {
  color: inherit;
  font: normal;
}

textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
  border-radius: 0;
    -ms-touch-action: manipulation;
      touch-action: manipulation;
  height: auto;
  min-height: 50px;
  overflow: auto;
  resize: vertical;
  border: thin solid gainsboro;
}

output {
  display: inline-block;
  font: inherit;
  color: inherit;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*selections */
textarea::-webkit-selection,
   textarea::-moz-selection,
        textarea::selection,
input::-webkit-selection,
   input::-moz-selection,
        input::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87);
}